<template name="SideNav">

  <nav class="side-nav col-xs-2 col-md-4 col-lg-4">
    <ul>
      <li>
        <a href="/websites"> <i class="fa fa-list"></i> WebSites</a>
      </li>
      <li>
        <a href="/Favorites"> <i class="fa fa-map-o"></i> Favorites</a>
      </li>
      {{#if isInRole 'admin'}}
      <li>
        <a href="/admin"><i class="fa fa-cogs"></i>Admin</a>
      </li>
      {{/if}}
      <li>
        <div class="text-center">
          <button type="button" class="add_website ">Add WebSites</button>
        </div>

      </li>
      <li>
        <div class="searchMore">
          {{> EasySearch.LoadMore index=websitesindex}}
        </div>
      </li>
      <li>
        <div class="flash-messages row">
          {{> flashMessages}}
        </div>
      </li>
    </ul>
  </nav>
</template>
