<template name="SideNav">
  <nav class="side-nav">
    <ul>
      <li>
        <a href="/websites"> <i class="fa fa-list"></i> WebSites</a>
      </li>
      <li>
        <a href="/Favorites"> <i class="fa fa-map-o"></i> Favorites</a>
      </li>
      <li>
        <div class="navbar searchbox-container">
        		<div class="searchbox">
        			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        			{{> EasySearch.Input index=websitesindex}}
        		</div>
        	</div>

      </li>
    </ul>

  </nav>
</template>
